/* -- FLOATING ELEMENTS -- */

.container {
    background-color: coral;
    color: white;
}

img {
    float: left; /* -- https://developer.mozilla.org/en/docs/Web/CSS/float -- */
    margin: 0 1rem 0.5rem 0; 
}

.second-paragraph {
    clear: left; /* -- https://developer.mozilla.org/en/docs/Web/CSS/clear -- */
}