/* -- FLOATING ELEMENTS -- */
.box {
    background-color: coral;
    color: white;
}

img {
    float: left;
    margin: 1rem;
}

.clearfix::after {
    content: "";
    display: block;
    clear: left;
}